.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 7;
  height: 70px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  transition: 0.3s;
  /* background-color: #222; */
  /* background-color: transparent; */
}

.headerColored {
  background-color: #222;
}

.logoContainer {
  align-self: center;
  margin: 0 100px 0 20px;
}

.logo {
  width: 60px;
  cursor: pointer;
}

.searchBox {
  display: flex;
  align-items: center;
}

.searchBox *::before {
  border-color: #fff !important;
}

.searchBox input,
.searchBox label {
  color: #fff !important;
}

.searchTextSmall input,
.searchTextSmall label {
  font-size: 17px !important;
  color: #fff !important;
}

@media only screen and (max-width: 992px) {
  .logo {
    width: 50px;
  }

  .logoContainer {
    margin-right: 30px;
  }
}
